#### Домашнее задание.

Необходимо запустить практическую часть занятия, и посмотреть самому то, о чём говорили на лекции.
По образу практики, попробуйте создать искусственный датасет с лишними столбцами.
Целевую метку, при правильной обработке данных, формируйте таким образом, чтобы без затруднений её смогла описать линейная модель.
Ориентируйтесь на то, что было показано во время занятия, и каждый шаг описывайте в markdown. Здесь важно видеть ваш ход мысли.
Не бойтесь ошибиться или написать не то. Данное задание не имеет какого-то “правильного” решения. Цель - достичь базового понимания проблемы.
Чем больше вы фантазируете, тем лучше :) Тем не менее, старайтесь представить те ситуации, которые по-вашему мнению могли бы быть в реальных данных. Успеха!

In [1]:
import pandas as pd

### Датасет по автомобилям
Датасет, по которому можно будет предсказывать цену на автомобиль. **Данные из головы**

In [2]:
col = [
    'manufacturer',
    'model',
    'released year',
    'car body',
    'num-of-doors',
    'drive-wheels',
    'engine-location',
    'fuel_type',
    'horsepower',
    'city-mpg',
    'highway-mpg',
    'power reserve', #запас хода
    'price',
    'number-of-owners',
    'number-of-car-accidents',
]

data_list =[
    [
        'tesla',
        'x',
        2019,
        'universal',
        5,
        'fwd',
        'front',
        'electro',
        200,
        'NaN',
        'NaN',
        500,
        50000,
        0,
        0
    ],
    [
        'opel',
        'astra',
        2020,
        'hatchback',
        5,
        'fwd',
        'front',
        'gasoline',
        150,
        10.0,
        7.0,
        650,
        10000,
        1,
        1        
    ],
    [
        'skoda',
        'octavia',
        2020,
        'hatchback',
        5,
        'fwd',
        'front',
        'gasoline',
        150,
        10.0,
        7.0,
        650,
        10000,
        1,
        1        
    ]
]

In [3]:
df = pd.DataFrame(data = data_list, columns = col)
df

,manufacturer,model,released year,car body,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents
0,tesla,x,2019,universal,5,fwd,front,electro,200,NaN,NaN,500,50000,0,0
1,opel,astra,2020,hatchback,5,fwd,front,gasoline,150,10,7,650,10000,1,1
2,skoda,octavia,2020,hatchback,5,fwd,front,gasoline,150,10,7,650,10000,1,1

Для того, чтобы достроить линейную модель предсказания нужно:
1. manufacturer заменить на 1, 2, 3 и т.п. Например tesla = 1, тогда все машины с теслой будут иметь признак 1, opel 2. Хотя это не самое изящное решние, так как производителей авто - тысячи. 

2. model - аналогично. Но с той разницей, что машины tesla будут начинаться на 11 (где первая 1 это значение из колонки model). После этого колонку manufacture можно удалить

#### Мои вопросы:
 - Как бы вы решили 1 и 2 пункт? Моё решение ниже
 - Почему df['model'] =LabelEncoder().fit_transform(df['model']) пронумеровал не по порядку? 2, 0, 1 вместо 0, 1, 2. Играет ли это роль?
 - Можно ли схачить lable enconder? Например, сделать лейблы 10000.0001, 10000.0002, 10000.0003. То есть сделать разницу минимальной, чтобы снизить ошбику поставить неправильный вес при обучении модели.

In [4]:
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder

In [5]:
df['manufacturer'] = LabelEncoder().fit_transform(df['manufacturer'])
df['model'] =LabelEncoder().fit_transform(df['model'])
df

,manufacturer,model,released year,car body,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents
0,2,2,2019,universal,5,fwd,front,electro,200,NaN,NaN,500,50000,0,0
1,0,0,2020,hatchback,5,fwd,front,gasoline,150,10,7,650,10000,1,1
2,1,1,2020,hatchback,5,fwd,front,gasoline,150,10,7,650,10000,1,1

Далее 
3. realeased year - без изменений. Либо ввести интервал с разницей в 3 года

4. car body, engine-location можно использовать one hot enconding

In [6]:
one_hot = pd.get_dummies(df['car body'])
df = df.join(one_hot)
df

,manufacturer,model,released year,car body,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents,hatchback,universal
0,2,2,2019,universal,5,fwd,front,electro,200,NaN,NaN,500,50000,0,0,0,1
1,0,0,2020,hatchback,5,fwd,front,gasoline,150,10,7,650,10000,1,1,1,0
2,1,1,2020,hatchback,5,fwd,front,gasoline,150,10,7,650,10000,1,1,1,0

In [7]:
df = df.reindex(columns=['manufacturer',
                         'model',
                         'released year',
                         'hatchback','universal',
                         'car body', 'num-of-doors', 
                         'drive-wheels',
                         'engine-location',
                         'fuel_type',
                         'horsepower',
                         'city-mpg',
                         'highway-mpg',
                         'power reserve',
                         'price',
                         'number-of-owners',
                         'number-of-car-accidents'])

In [8]:
df = df.drop('car body',axis = 1) ### удаляю за ненадобностью

In [9]:
df

,manufacturer,model,released year,hatchback,universal,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents
0,2,2,2019,0,1,5,fwd,front,electro,200,NaN,NaN,500,50000,0,0
1,0,0,2020,1,0,5,fwd,front,gasoline,150,10,7,650,10000,1,1
2,1,1,2020,1,0,5,fwd,front,gasoline,150,10,7,650,10000,1,1

5. drive-wheels (передний, задний, полный) - one hot
6. fuel_type (бензин, дизель, эелктричество, газ) - lable encoding (или так же one hot enconding)

In [10]:
one_hot = pd.get_dummies(df['drive-wheels'])
df = df.join(one_hot)
df

,manufacturer,model,released year,hatchback,universal,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents,fwd
0,2,2,2019,0,1,5,fwd,front,electro,200,NaN,NaN,500,50000,0,0,1
1,0,0,2020,1,0,5,fwd,front,gasoline,150,10,7,650,10000,1,1,1
2,1,1,2020,1,0,5,fwd,front,gasoline,150,10,7,650,10000,1,1,1

In [11]:
one_hot = pd.get_dummies(df['fuel_type'])
df = df.join(one_hot)
df

,manufacturer,model,released year,hatchback,universal,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents,fwd,electro,gasoline
0,2,2,2019,0,1,5,fwd,front,electro,200,NaN,NaN,500,50000,0,0,1,1,0
1,0,0,2020,1,0,5,fwd,front,gasoline,150,10,7,650,10000,1,1,1,0,1
2,1,1,2020,1,0,5,fwd,front,gasoline,150,10,7,650,10000,1,1,1,0,1

6. engine-location бинарный 0 или 1

In [16]:
def my_func(param):
    if param == 'front':
        return 1
    else:
        return 0

In [17]:
df['engine-location'] = df['engine-location'].apply(my_func)
df

,manufacturer,model,released year,hatchback,universal,num-of-doors,drive-wheels,engine-location,fuel_type,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents,fwd,electro,gasoline
0,2,2,2019,0,1,5,fwd,0,electro,200,NaN,NaN,500,50000,0,0,1,1,0
1,0,0,2020,1,0,5,fwd,0,gasoline,150,10,7,650,10000,1,1,1,0,1
2,1,1,2020,1,0,5,fwd,0,gasoline,150,10,7,650,10000,1,1,1,0,1

Снова удаляю лишние стобцы:

In [18]:
df = df.drop(['drive-wheels', 'fuel_type' ],axis = 1) ### удаляю за ненадобностью
df

,manufacturer,model,released year,hatchback,universal,num-of-doors,engine-location,horsepower,city-mpg,highway-mpg,power reserve,price,number-of-owners,number-of-car-accidents,fwd,electro,gasoline
0,2,2,2019,0,1,5,0,200,NaN,NaN,500,50000,0,0,1,1,0
1,0,0,2020,1,0,5,0,150,10,7,650,10000,1,1,1,0,1
2,1,1,2020,1,0,5,0,150,10,7,650,10000,1,1,1,0,1

Оставлось разобраться с расходом топлива. Проблема в том, что у электрокаров нет такого показателя. Можно попробовать:

1. Удалить эти столбцы и ориенитроваться только на колонку power reserve (запас хода)

2. Поискать и интернете информацию о том, сколько электрокар может проехать в городском и загородных циклах. Разделить power reserve и получить аналог расхода для бензиновых двигателей.

Я иду по простому пути. Итоговый датасет:

In [19]:
df = df.drop(['city-mpg', 'highway-mpg' ],axis = 1) ### удаляю за ненадобностью
df

,manufacturer,model,released year,hatchback,universal,num-of-doors,engine-location,horsepower,power reserve,price,number-of-owners,number-of-car-accidents,fwd,electro,gasoline
0,2,2,2019,0,1,5,0,200,500,50000,0,0,1,1,0
1,0,0,2020,1,0,5,0,150,650,10000,1,1,1,0,1
2,1,1,2020,1,0,5,0,150,650,10000,1,1,1,0,1

Но если работать только с бензиновыми двигателями, то оставить можно слеить эти два признака и получить один. Можно взять либо среднее значение, либо отношении одного к другому

#### Вопрос

8. Возможно как-то можно ввести некий коэффициент модели/класса автомобиля. Вроде мерседес стоит дороже жигули. Но как это сделать сходу не придумал. Есть идеи? Это относится к manufacturer и model.