## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов. Готовые решения принимаются в виде ссылки на GitHub.

#### Задача 1

Дана строка:

In [2]:
string_01 = "History is always written by the winners. hen two cultures clash, the loser is obliterated, and the winner writes the history books-books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [5]:
print(len(string_01))
print (len(string_01) - string_01.count(' '))

266
223

2. Посчитайте, сколько в строке слов.

In [6]:
import re

In [13]:
len(re.findall(r'\w+', string_01))

45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [36]:
def find_word():
    user_input = input('Введите букву: ')
    return re.findall(r'\s' + user_input + r'\w+', string_01)
find_word()

Введите букву: w

[' written', ' winners', ' winner', ' writes', ' which']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [37]:
import random

In [142]:
rnd = random.randrange(1000000, 9999999)
print(rnd)
my_list = list(str(rnd))
if '3' not in my_list:
    print(my_list)
    pos = random.randrange(0, len(my_list))
    my_list[pos] = '3'
    result = ''.join(my_list)
    print(str(result))

9918650
['9', '9', '1', '8', '6', '5', '0']
9938650

#### Задача 3

Дан список:

In [67]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит сумму элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [78]:
x = 0
y = 0
for num in list_01:
    if 10 < num < 100:
#         print(num)
        x = x + num
    if 200 < num < 500:
#         print(num)
        y = y + num
print(x)
print(y)

408
883

#### Задача 4

Данные студентов представлены в виде списка списков:

In [93]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [88]:
my_dict = {}
for string in students:
    value = string[1:]
    my_dict[string[0]] = value
print(my_dict)

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'], '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'], '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'], '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'], '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'], '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'], '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый.

In [94]:
def amend_students_list():
    user_id = input('Введите номер студента: ')
    user_group = input('Введите номер группы: ')
    for string in students:
        if user_id in string:
            string[5] = user_group
            return string
amend_students_list()

Введите номер студента: 4004
Введите номер группы: test

['4004', 'Степанова', 'Наталья', 'Александровна', '13.02.2008', 'test']

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы.

In [97]:
def find_students_by_group_id():
    my_list= []
    user_group = input('Введите номер группы: ')
    for string in students:
        if user_group in string:
            my_list.append(string[1:4])
    return my_list
find_students_by_group_id()

Введите номер группы: БСТ161

[['Антонов', 'Антон', 'Игоревич'], ['Боков', 'Игорь', 'Харитонович']]

#### Задача 5

Дана матрица:

In [98]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [101]:
total_sum = 0
for string in matrix:
    string_sum = sum(string)
    total_sum = total_sum + string_sum
print(total_sum)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [103]:
x_0 = 0
x_1 = 0
x_2 = 0
x_3 = 0
x_4 = 0
my_list = []
for string in matrix:
    x_0 = x_0 + string[0]
    x_1 = x_1 + string[1]
    x_2 = x_2 + string[2]
    x_3 = x_3 + string[3]
    x_4 = x_4 + string[4]
my_list.append(x_0)
my_list.append(x_1)
my_list.append(x_2)
my_list.append(x_3)
my_list.append(x_4)
print(max(my_list))

22