ПАКЕТ SURPRISE

используйте данные MovieLens 1M
можно использовать любые модели из пакета
получите RMSE на тестовом сете 0.87 и ниже
Комментарий преподавателя :
В ДЗ на датасет 1М может не хватить RAM. Можно сделать на 100K. Качество RMSE предлагаю считать на основе CrossValidation (5 фолдов), а не отложенном датасете.

In [8]:
!pip install surprise

Collecting surprise
  Using cached surprise-0.1-py2.py3-none-any.whl (1.8 kB)
Collecting scikit-surprise
  Using cached scikit-surprise-1.1.1.tar.gz (11.8 MB)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise->surprise) (0.16.0)
Requirement already satisfied: numpy>=1.11.2 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.18.5)
Requirement already satisfied: scipy>=1.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.5.0)
Requirement already satisfied: six>=1.10.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-surprise->surprise) (1.15.0)
Building wheels for collected packages: scikit-surprise
  Building wheel for scikit-surprise (setup.py): started
  Building wheel for scikit-surprise (setup.py): finished with status 'done'
  Created wheel for scikit-surprise: filename=scikit_surprise-1.1.1-cp38-cp38-win_amd64.whl size=733588 sha256=4f2a457d78ad5fee32e3b4f53bde0eb13b991169c22ebaa45a6ba32683b3711c
  Stored in directory: c:\users\александр\appdata\local\pip\cache\wheels\20\91\57\2965d4cff1b8ac7ed1b6fa25741882af3974b54a31759e10b6
Successfully built scikit-surprise
Installing collected packages: scikit-surprise, surprise
Successfully installed scikit-surprise-1.1.1 surprise-0.1

In [26]:
import pandas as pd
import numpy as np
from tqdm import tqdm_notebook

from surprise import KNNWithMeans, KNNBasic
from surprise import Dataset
from surprise import accuracy
from surprise import Reader
from surprise.model_selection import train_test_split

In [43]:
movies = pd.read_csv('movies.csv', names=['movieId', 'title', 'genre'], sep='::')
ratings = pd.read_csv('ratings.csv', names=['userId', 'movieId', 'rating', 'timestamp'], sep='::')

<ipython-input-43-ff7aad739362>:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  movies = pd.read_csv('movies.csv', names=['movieId', 'title', 'genre'], sep='::')
<ipython-input-43-ff7aad739362>:2: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  ratings = pd.read_csv('ratings.csv', names=['userId', 'movieId', 'rating', 'timestamp'], sep='::')

In [44]:
movies.head()

   movieId                               title                         genre
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [45]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  3883 non-null   int64
 1   title    3883 non-null   object
 2   genre    3883 non-null   object
dtypes: int64(1), object(2)
memory usage: 91.1+ KB

In [46]:
ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000209 entries, 0 to 1000208
Data columns (total 4 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   userId     1000209 non-null  int64
 1   movieId    1000209 non-null  int64
 2   rating     1000209 non-null  int64
 3   timestamp  1000209 non-null  int64
dtypes: int64(4)
memory usage: 30.5 MB

In [47]:
ratings.head()

   userId  movieId  rating  timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [48]:
movies_with_ratings = movies.join(ratings.set_index('movieId'), on='movieId').reset_index(drop=True)
movies_with_ratings.dropna(inplace=True)
movies_with_ratings.head()

,movieId,title,genre,userId,rating,timestamp
0,1,Toy Story (1995),Animation|Children's|Comedy,1.0,5.0,978824268.0
1,1,Toy Story (1995),Animation|Children's|Comedy,6.0,4.0,978237008.0
2,1,Toy Story (1995),Animation|Children's|Comedy,8.0,4.0,978233496.0
3,1,Toy Story (1995),Animation|Children's|Comedy,9.0,5.0,978225952.0
4,1,Toy Story (1995),Animation|Children's|Comedy,10.0,5.0,978226474.0

In [49]:
df = pd.DataFrame({
    'uid': movies_with_ratings.userId,
    'iid': movies_with_ratings.title,
    'rating': movies_with_ratings.rating
})

In [50]:
df.head()

    uid               iid  rating
0   1.0  Toy Story (1995)     5.0
1   6.0  Toy Story (1995)     4.0
2   8.0  Toy Story (1995)     4.0
3   9.0  Toy Story (1995)     5.0
4  10.0  Toy Story (1995)     5.0

In [51]:
df.rating.min(), df.rating.max()

(1.0, 5.0)

In [65]:
reader = Reader(rating_scale=(1., 5.0))
data = Dataset.load_from_df(df, reader)

In [66]:
trainset, testset = train_test_split(data, test_size=.15)

### User-based фильтрация

In [69]:
algo = KNNBasic(k=50, sim_options={'name': 'msd', 'user_based': True})
algo.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [70]:
test_pred = algo.test(testset)
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.9213

0.9212571505552389

In [62]:
#algo.predict(uid=2, iid='Fight Club (1999)')

### Item-based фильтрация

In [ ]:
msd, pearson_baseline

In [73]:
algo = KNNWithMeans(k=50, sim_options={'name': 'pearson_baseline', 'user_based': False})
algo.fit(trainset)

Estimating biases using als...
Computing the pearson_baseline similarity matrix...
Done computing similarity matrix.

In [74]:
test_pred = algo.test(testset)
accuracy.rmse(test_pred, verbose=True)

RMSE: 0.8575

0.8574576656224533

В пробовал разные опции (cosine, msd, person, pearson-baseline). В итоге лучше всего показал себя последний вариант, что странно. По идее item-based должен быть менее удачен при большом количестве пользователей

In [85]:
df.loc[(df['uid'] ==2)]

        uid                                  iid  rating
9992    2.0                    Get Shorty (1995)     1.0
31494   2.0                  Broken Arrow (1996)     2.0
34064   2.0                    Braveheart (1995)     5.0
46895   2.0                     Desperado (1995)     4.0
47814   2.0    Die Hard: With a Vengeance (1995)     3.0
...     ...                                  ...     ...
950696  2.0  Man with the Golden Arm, The (1955)     3.0
955813  2.0                       Starman (1984)     2.0
965491  2.0                       Serpico (1973)     3.0
981190  2.0               What About Bob? (1991)     3.0
991825  2.0                   Nurse Betty (2000)     1.0

[129 rows x 3 columns]

In [87]:
algo.predict(uid=2, iid='Get Shorty (1995)')

Prediction(uid=2, iid='Get Shorty (1995)', r_ui=None, est=2.490174937809636, details={'actual_k': 50, 'was_impossible': False})

In [88]:
algo.predict(uid=2, iid='Broken Arrow (1996)')

Prediction(uid=2, iid='Broken Arrow (1996)', r_ui=None, est=2.6610181405335656, details={'actual_k': 39, 'was_impossible': False})

In [89]:
algo.predict(uid=2, iid='Braveheart (1995)')

Prediction(uid=2, iid='Braveheart (1995)', r_ui=None, est=4.337720763919804, details={'actual_k': 50, 'was_impossible': False})